#title_1{
    font-size: 90px;
    color: rgb(29, 14, 236);
    margin: auto;
    font-weight: bold;
}

#title_2{
    font-size: 90px;
    color: rgb(163, 9, 9);
    margin: auto;
    font-weight: bold;
}